*{
    margin:0;
    padding:0;
    box-sizing: 0px;
    font-family: lato,sans-serif;
}

main{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #161A30;

}

header{
    width:100%;
    height:100px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;

}

header #logo-img{
    width: 10%;
    height: 90%;
    /* border:1px solid white; */
    margin-left:5%;
}

header nav{
    width:40%;
    height: 100%;   
    /* border:1px solid white; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav ul{
    /* border:1px solid white; */
    height: 100%;
    width:70%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:#F0ECE5;
    list-style-type: none;
}

header nav ul a{
    text-decoration: none;
    color:#F0ECE5;

}

header nav ul li{
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
}

header nav ul #join-us-btn{
    text-align: center;
    opacity: 1;
    font-size: 1rem;
    width: 100px;
    padding:12px;
    border-radius: 25px;
    background: linear-gradient(to right, #B6BBC4, #31304D);
    /* background: #31304D; */
}

main .container{
    width:100%;
    height:70%;
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items:flex-end;
    margin-bottom: 3%;
}

main .container #main-bg{
    position:absolute;
    bottom:0;
    left:0;
    width:70%;
    height: 70%;
    opacity: 0.3;
}

main .container #left-side{
    border:5px solid #31304D;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 30%;
    height: 100%;
    z-index: 1;
    margin-right: 5%;
    border-radius: 25px;
}

main .container #left-side h1{
    color: #F0ECE5;
}

main .container #left-side hr{
    margin-top:3%;
    width:50%;
}

main .container #left-side form{
    margin-top:5%;
    width: 90%;
    height: 70%;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

main .container #left-side form input{
    width:80%;
    height: 50px;
    border-radius: 10px;
    border:2px solid #B6BBC4;
    text-align: center;
    font-size: 1rem;
    background:none;
}

main .container #left-side form input:focus{
    outline: none;
}

main .container #left-side form #sign-up-btn{
    width:30%;
    height: 40px;
    border-radius: 25px;
    border:none;
    color:white;
    background: #7472a7;
    cursor: pointer;
    opacity: 0.3;
}

main .container #left-side form #sign-up-btn:hover{
    opacity: 1;
}


